body {
  margin: 0;
  padding: 0;
}
@media (min-width: 250px) and (max-width: 980px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
  }

  .area h1 {
    font-size: 40px;
    line-height:60px;
  }

  .area h3 {
    margin-top: 10px;
  }

  .container1 img {
    width: 60%;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-height: 250px;
    margin-bottom: 30px;

  }



  .search {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 50%;
    margin: 0 10px;
  }

  .box {
    width: 100%;
    margin-bottom: 20px;
    margin:30px;
  }

  .try {
    width: 200px;
    margin: 0 10px;
    font-size:17px;
    min-height:50px;
  }

  .search1 {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 50%;
    margin: 0 10px;
    margin-bottom: 40px;
  }

h4 {
  color:white;
}

  .box1 {
    width: 100%;
    margin-bottom: 20px;
    margin:30px;
  }

  .try1 {
    width: 200px;
    margin: 0 10px;
    font-size:17px;
    min-height:50px;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .text h1 {
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .text p {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .quest .textbox {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .quest {
    width: 80%;
    min-height: 75px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
